<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <h6><img src="img/logo-2023.png" alt="" width="150px"></h6>
          <p class="text-justify">Điện thoại: 036.995.8572 <br>
            Email: thanhldph22749@fpt.edu.vn <br>
            Địa chỉ: Số 32 Ngõ 91, Cầu Diẽn, Quận Bắc Từ Liêm, TP. Hà Nội </p>
        </div>
        <div class="col-xs-6 col-md-2">
          <h6>SẢN PHẨM<Map></Map></h6>
          <ul class="footer-links">
            <li><a href="">Game Nester</a></li>
            <li><a href="">Game CSS Diner</a></li>
            <li><a href="">Game CSS Selectors
              </a></li>
            <li><a href="">Game Froggy</a></li>
            <li><a href="">Game Froggy Pro</a></li>
            <li><a href="">Game Scoops</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-2">
          <h6>THỂ LOẠI</h6>
          <ul class="footer-links">
            <li><a href="">C</a></li>
            <li><a href="">UI Design</a></li>
            <li><a href="">PHP</a></li>
            <li><a href="">Java</a></li>
            <li><a href="">Android</a></li>
            <li><a href="">Templates</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-2">
          <h6>CÔNG CỤ</h6>
          <ul class="footer-links">
            <li><a href="">Tạo CV xin việc</a></li>
            <li><a href="">Rút gọn liên kết</a></li>
            <li><a href="">Clip-path maker</a></li>
            <li><a href="">Snippet generatory</a></li>
            <li><a href="">Cảnh báo sờ tay lên mặt</a></li>
          </ul>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC </h6>
          <ul class="footer-links">
            <li><a href="">Mã số thuế: 0109922901</a></li>
            <li><a href="">Ngày thành lập: 08/02/2023</a></li>
            <li><a href="">Lĩnh vực: Công nghệ, giáo dục, lập trình.
                F8 xây dựng và phát triển những sản phẩm mang lại giá trị cho cộng đồng.</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text"> © Lê Đăng Thành. Cao đẳng FPT Polytechnic
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>