<div class="container ">
    <div class="box-gt">
        <div class="box-card">
            <h3 class="title-gt">TẦM NHÌN</h3>
            <p>Trở thành công ty công nghệ giáo dục có vị thế vững vàng trên thị trường, với các sản phẩm hỗ trợ học lập
                trình chất lượng, thông minh và hiệu quả. F8 sẽ nổi tiếng bởi chất lượng sản phẩm vượt trội và được cộng
                đồng tin tưởng chứ không phải vì tiếp thị tốt.</p>
        </div>
        <div class="box-card">
            <h3 class="title-gt">GIÁ TRỊ CỐT LÕI</h3>
            <p>Sự tử tế: Tử tế trong chính người F8 với nhau và tử tế với học viên là kim chỉ nam phấn đấu. Đã làm sản
                phẩm là phải chất lượng và chứng minh được hiệu quả, bất kể là sản phẩm miễn phí hay giá rẻ. Làm ra phải
                thấy muốn để người thân mình dùng.</p>
            <p>Tư duy số: Sản phẩm làm ra không phải là để vừa lòng đội ngũ trong công ty. Sản phẩm làm ra với mục tiêu
                cao nhất là người học thấy dễ học, được truyền cảm hứng tự học, học tới bài học cuối cùng và người học
                có thể tự tay làm ra những dự án bằng kiến thức đã học.</p>
            <p>Luôn đổi mới và không ngừng học: Học từ chính đối thủ, học từ những công ty công nghệ giáo dục tốt trên
                thế giới và luôn luôn lắng nghe mọi góp ý từ phía học viên.
                Tư duy bền vững: Có hai thứ đáng để đầu tư giúp mang lại thành quả tài chính tốt nhất trong dài hạn của
                một công ty đó là nhân viên và khách hàng. </p>
        </div>
        <div class="box-card">
            <h3 class="title-gt"> BẠN NHẬN ĐƯỢC GÌ TỪ UNICA?</h3>
            <div class="row">
                <div class="col-md-6">
                    <h6>1. Sự thành thạo</h6>
                    <p>Các bài học đi đôi với thực hành, làm bài kiểm tra ngay trên trang web và bạn luôn có sản phẩm
                        thực tế
                        sau mỗi khóa học.</p>
                </div>
                <div class="col-md-6">
                    <h6>2. Tính tự học</h6>
                    <p>Một con người chỉ thực sự trưởng thành trong sự nghiệp nếu họ biết cách tự thu nạp
                        kiến
                        thức mới cho chính mình.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h6>3. Tiết kiệm thời gian</h6>
                    <p>Thay vì chật vật vài năm thì chỉ cần 4-6 tháng để có thể bắt đầu công việc đầu tiên với vị trí
                        Intern tại
                        công ty IT.</p>
                </div>
                <div class="col-md-6">
                    <h6>4. Làm điều quan trọng</h6>
                    <p>
                        Chỉ học và làm những điều quan trọng để đạt được mục tiêu đi làm được trong thời gian ngắn
                        nhất.
                    </p>
                </div>

            </div>



        </div>
        <div class="box-card">
            <h3 class="title-gt">CHIẾN LƯỢC PHÁT TRIỂN</h3>
            <h6>1. Coi trọng đào tạo và phát triển nhân tài</h6>
            <p>F8 tin rằng sản phẩm tuyệt vời chỉ có thể tạo ra bởi những con người tài năng. Công ty muốn tăng trưởng
                nhanh bền vững phải có những nhân sự xuất sắc có tâm, có tài. Vì vậy, F8 không ngừng tìm kiếm và phát
                triển những cá nhân tài năng cùng xây dựng bộ máy. Nếu bạn muốn được làm cùng với những người giỏi giang
                khác? Bạn muốn được chủ động quyết định trong công việc của mình? Và bạn muốn được tương thưởng xứng
                đáng? Hãy về với F8 😍</p>
            <div class="row">
                <div class="col-md-8">
                    <h6>2. Sản phẩm làm ra là phải chất lượng, là phải bán được</h6>
                    <p>F8 làm ra những sản phẩm phục vụ thị trường lớn, chất lượng và hiệu quả thực sự, đáp ứng nhu cầu
                        cấp
                        thiết của học viên. Mỗi khóa học, mỗi bài giảng của F8 không phải được làm ra bởi chỉ
                        một
                        người. Mà đó là tổng hoà chuyên môn của người dạy, sales, marketing, lập trình viên, đạo
                        diễn
                        hình ảnh và âm thanh… Khúc nào cũng phải cố benchmarking, tự tin đứng cạnh các sản phẩm của
                        thế
                        giới. Tức là làm một cách thông minh và xâu chuỗi nhiều loại hiểu biết khác nhau.</p>
                </div>
                <div class="col-md-4"><img src="img/gt1.png" alt="" style="width: 300px; height: 200px"></div>
            </div>

            <div class="row">
                <div class="col-md-4"> <img src="img/gt2.png" alt="" style="width: 300px; height: 200px"></div>
                <div class="col-md-8">
                    <h6>3. Tập trung vào khách hàng</h6>
                    <p>Khi học lập trình phần đông học viên dễ bị mất định hướng, dễ nản khi gặp khó khăn mà không ai
                        giúp đỡ,
                        nhiều khi thấy làm giống hệt video rồi mà không chạy... Tại F8, chúng tôi thấu hiểu những khó
                        khăn của
                        các bạn, chúng tôi nỗ lực tạo ra giáo trình và hệ thống bài tập, hệ thống hỗ trợ các bạn tối đa
                        trong
                        quá trình học tập.</p>
                </div>
                <div class="col-md-12">
                    <p>F8 tin rằng trong mỗi chúng ta luôn tồn tại một "đứa trẻ", để đứa trẻ đó học tốt một kiến thức
                        mới thì
                        sản phẩm không thể chỉ thành công về mặt học thuật, mà phải tạo được thật nhiều cảm xúc. F8
                        thiết kế
                        hành trình cảm xúc đó bằng hình ảnh, âm thanh, bằng các nội dung xu hướng, bằng cách ghi nhận sự
                        nỗ lực
                        của học viên và luôn tạo cảm hứng học tập.</p>
                </div>
            </div>


            <h6>4. Bán hàng và chăm sóc khách hàng bền vững</h6>
            <p>Việc bán hàng sẽ trở nên rất dễ dàng khi khách hàng sử dụng hiệu quả và truyền tai nhau về sản phẩm.
                Thành công về mặt doanh số không quan trọng bằng việc người học đánh giá cao sản phẩm sau đó tiếp tục sử
                dụng, thậm chí còn giới thiệu cho người thân và bạn bè. F8 là một trong những công ty giáo dục, có lẽ là
                duy nhất đầu tư rất nhiều ngân sách vào việc chăm sóc khách hàng, thay vì bỏ tiền đi đánh bóng tên tuổi.
                F8 sẽ tìm mọi cách để dần đạt được con số 99% khách hàng hài lòng.</p>
        </div>

    </div>

</div>