<p class="title">Khóa học Pro
    <span class="ScrollList_label__aulkb">Mới</span>
</p>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <a href="#!/dang-ky"><img  class="card-img-top" src="img/css.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">HTML CSS Pro</a></h4>
                <span class="CourseItem_old-price__Y-b76" >2.499.000đ</span>
                <span class="CourseItem_main-price__6zPwS"> 1.299.000đ <br> </span>
                <!-- <marquee behavior="" direction="left">KKK</marquee> -->
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/javascrippro.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">JavaScript Pro</a></h4>
                <p class="card-text">(Sắp ra mắt)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/reacctjspro.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">ReactJS Pro</a></h4>
                <p class="card-text">(Sắp ra mắt)</p>
            </div>
        </div>
    </div>
   </div>
   
<!-- <p style="margin-top: 20px; margin-left: 15px; color: rgb(28, 27, 27);" >283.359+ người khác đã học</p> -->
 <p class="title">Khóa học miễn phí</p> 

   <div class="row">
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a1.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">Kiến Thức Nhập Môn IT</a></h4>
                <p class="card-text"><i class="fas fa-users"></i>97.785</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a2.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">Lập trình C++ cơ bản, nâng cao</a></h4>
                <p class="card-text"><i class="fas fa-users"></i>994</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a3.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">HTML CSS từ Zero đến Hero</a></h4>
                <p class="card-text"><i class="fas fa-users"></i>147.807</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a4.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">Responsive Với Grid System</a></h4>
                <p class="card-text"><i class="fas fa-users"></i>33.430</p>
            </div>
        </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a5.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">Lập Trình JavaScript Cơ Bản</a></h4>
                <p class="card-text"><i class="fas fa-users"></i>96.213</p>
    
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a7.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">Lập Trình JavaScript Nâng Cao</a></h4>
                <p class="card-text"><i class="fas fa-users"></i>25.422</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a6.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">Làm việc với Terminal & Ubuntu</a></h4>
                <p class="card-text"><i class="fas fa-users"></i>10.255                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a8.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">Xây Dựng Website với ReactJS</a></h4>
                <p class="card-text"><i class="fas fa-users"></i>40.957</p>
            </div>
        </div>
    </div>
   </div>
   <div class="row">
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a9.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">Node & ExpressJS</a></h4>
                <p class="card-text"><i class="fas fa-users"></i>28.378</p>
                
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <a href=""><img class="card-img-top" src="img/a10.png" alt="Title"></a>
            <div class="card-body">
                <h4 class="card-title"><a href="">App "Đừng Chạm Tay Lên Mặt" </a></h4>
                <p class="card-text"><i class="fas fa-users"></i>6.759</p>
            </div>
        </div>
    </div>

   </div>
   

  
  